---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Portfolio Juanma"
  description="Portfolio de Juanma, desarrollador web especializado en el frontend. Aquí encontrarás mis proyectos, sobre mí y más."
>
  <main class="flex flex-col w-1/2 mx-auto">
    <slot />
  </main>
</Layout>
