---
const navItems = [
  {
    title: "Inicio",
    label: "inicio",
    url: "/#inicio",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Experiencia",
    label: "experiencia",
    url: "/#experiencia",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "/#contacto",
  },
];

import DarkMode from "@/components/DarkMode.astro";
---

<header
  class="mx-auto w-full fixed top-0 z-10 flex justify-center items-center mt-2"
>
  <nav
    class="flex justify-center items-center px-3 text-sm font-medium text-neutral-800 rounded-full dark:text-gray-200"
  >
    {
      navItems.map((item) => {
        return (
          <a
            href={item.url}
            class="px-2 py-2 transition dark:hover:text-purple-400/90 hover:text-purple-600/90"
          >
            {item.title}
          </a>
        );
      })
    }
    <DarkMode />
  </nav>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur bg-neutral-300/30 ring-white/10;
    }
  }
</style>
