---
import ArrowTop from "@icons/Top.astro";
---

<div
  class="dark shadow-[0_3px_10px_rgb(0,0,0,0.2)] toTop size-12 fixed right-4 bottom-4 flex justify-center items-center bg-white rounded-full border border-white opacity-0 transition cursor-pointer group dark:bg-neutral-900/90 dark:border-neutral-500/20 dark:hover:text-neutral-900/90 dark:hover:bg-white hover:bg-neutral-900/90 hover:border-neutral-500/20 hover:text-white"
  title="ToTopButton"
  id="toTop"
>
  <ArrowTop class="size-8" />
</div>

<style>
  .toTop {
    animation: shown-top 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes shown-top {
    to {
      @apply opacity-100;
    }
  }
</style>

<script>
  const toTop = document.getElementById("toTop");
  if (toTop) {
    toTop.addEventListener("click", () => {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    });
  }
</script>
